body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    
}

h1 {
    margin-bottom: 2rem;
}

main {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(188, 216, 240);
}

main > img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto 1.5rem;
    border-radius: 10px;
}

figure {
    margin: 1.5rem 0;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

figcaption {
    text-transform: capitalize;
    font-size: 1.2rem;
}

footer {
    margin-top: 2rem;
    font-size: 0.9rem;
}